@media screen and (max-width: 768px) {
    #container{
        padding: 0;

        #logo{
            width: 5rem;
            margin: 1rem 0;
        }

        #card{
            flex-direction: column;
            padding: 2rem;
            justify-content: center;
            #form-group{
                label{
                    font-size: 1rem;
                }
                width: auto;
                gap: 0.5rem;
                #tips-container{
                    button{
                        width: 45%;
                        height: 3rem;
                    }
                }

                .form-container{
                    img{
                        position: absolute;
                        left: 1rem;
                        width: 0.8rem;
                    }
                    input{
                        height: 3rem;
                        font-size: 1.5rem;
                    }
                }
            }
            #result{
                width: 80%;
                margin: 0 auto;
                .result-container{
                    margin: 1rem 0;
                    div{
                        h3{
                            font-size: 1rem;
                        }
                        
                    }
                    h1{
                        font-size: 2rem;
                    }
                }
                button{
                    font-size: 1rem;
                    width: 100%;
                }
            }
        }
    }
}